# Исключение файлов среды разработки
*.pyc
__pycache__/
*.pyo

# Исключение файлов и папок виртуального окружения
.env
*.env
myenv/
.envrc

# Логи и временные файлы
*.log
*.pot
*.swp
*.swo
*.swn
*.tmp

# Исключение статических и медиафайлов
staticfiles/
media/



# Исключение настроек IDE и редакторов
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Исключение файлов из Docker
*.pid
