<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
</head>
  <body>
    <a href="{% url 'home' %}">Главная страница</a>
    <a href="{% url 'subscription-list-html' %}">Мой личный кабинет (абонементы)</a>
    <a href="{% url 'gym-list' %}">Тренажёрные залы</a>
    <a href="{% url 'discount-list' %}">Скидки</a>
    <a href="{% url 'notification-list' %}">Уведомления</a>
    <h1>Ваши абонементы</h1>
    <ul>
      {% for subscription in subscriptions %}
      <li>
        <h2>{{ subscription.gym.name }}</h2>
        <p>Дата начала: {{ subscription.start_date }}</p>
        <p>Дата окончания: {{ subscription.end_date }}</p>
        <p>Стоимость: {{ subscription.price }}</p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
