<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Уведомления</title>
  </head>
  <body>
    <h1>Список уведомлений</h1>
    <ul>
      {% for notification in notifications %}
      <li>
        <p>{{ notification.message }}</p>
        <p>Создано: {{ notification.created_at }}</p>
        <p>
          {% if notification.is_read %}Прочитано{% else %}Не прочитано{% endif
          %}
        </p>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
