<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <title>Скидки</title>
    </head>
    <body>
      <a href="{% url 'home' %}">Главная страница</a>
      <a href="{% url 'subscription-list-html' %}">Мой личный кабинет (абонементы)</a>
      <a href="{% url 'gym-list' %}">Тренажёрные залы</a>
      <a href="{% url 'discount-list' %}">Скидки</a>
      <a href="{% url 'notification-list' %}">Уведомления</a>
      
      <h1>список скидкок</h1>
      <ul>
        {% for discount in discounts %}
        <li>
          <h2>{{ discount.code }}</h2>
          <p>{{ discount.description }}</p>
          <p>Скидка: {{ discount.discount_percentage }}%</p>
          <p>
            Действует с {{ discount.valid_from }} по {{ discount.valid_until }}
          </p>
        </li>
        {% endfor %}
      </ul>
      

    </body>
  </html>
</html>
